.agente {
    background-color: var(--white);
    margin: 20px 10%;
    padding: 10px;
    border-radius: 12px;
    transform: skew(2deg);
    text-align: left;
    border-bottom: 5px solid var(--val-red);
    border-left: 5px solid var(--val-red);

    display: flex;
    flex-wrap: wrap;
    color: var(--gray);
}

.background {
    display: flex;
    align-items: center;
    max-width: 50%;
    box-sizing: border-box;
    border-radius: 10px;
    border-top: 5px solid var(--val-red);
    border-right: 5px solid var(--val-red);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.portrait {
    max-width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.informacao {
    box-sizing: border-box;
    max-width: 50%;
    text-align: justify;
    padding: 20px;
}

.informacao h3 {
    margin: 0;
    font-size: 2em;
    border-bottom: 3px solid var(--val-red);
}

.informacao p {
    font-size: 1.2em;
}

.habilidades {
    display: flex;
    flex-direction: column;
    padding: 20px;
}